{{ template "header.html" .}}
<h1>{{.title}}</h1>
<form method="POST" action="/logout" >
    <button type="submit" class="btn btn-default">Logout</button>
</form>
<hr>


<div class="container" style="background-color: #FFF7EB; border: 1px solid #ccc; padding: 10px; width: 300px;">
    <p style="color: red"> {{.error}} </p>
    <form action="/login" method="POST">
        <div class="form-row " >
            <label style="font-size:15px">Username:</label><br />
            <input type="text" name="email" class="form-control" style="font-size:15px"><br />
        </div>
        <div class="form-row">
            <label style="font-size:15px">Password:</label><br />
            <input type="password" name="passwd" class="form-control" style="font-size:15px"><br />
        </div>
        <input type="submit" class="btn btn-default">
    </form>
</div>
{{ template "footer.html" .}}
