{{ template "header.html" .}}
<section>
    <h2>Application Logs</h2>
    <p>
        Click on a log to view it's content
    </p>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">File Name</th>
            <th scope="col">Size</th>
        </tr>
        </thead>
        <tbody>
            {{range .logs }}
            <tr>
                <th scope="row">
                    <button onclick="loadLog({{.FileName}})" type="button" class="btn btn-link"><span>{{.FileName}}</span></button>
                </th>
                <td>{{.Size}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <div id="log" hidden="true">
        <h4>Content of <span id="logName"></span></h4>
        <pre id="logContent"></pre>
    </div>
</section>
<script>
    function loadLog(fileName) {
        let logQuery =  {
            fileName: fileName,
            requester: "Anonymous",
            authToken: ""
        };
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var log = JSON.parse(this.response);
                document.getElementById("log").style.display = "block";
                document.getElementById("logName").innerHTML = log.fileName;
                document.getElementById("logContent").innerHTML =
                        log.content;
            }
        };
        xhttp.open("GET", "/logs/" + JSON.stringify(logQuery), true);
        xhttp.send();
    }
</script>
{{ template "footer.html" .}}