<center>
<h1>Access WebCam using Javascript</h1>
<video id ="video" autoplay>Not supported in your browser</video>
</center>

<script>
navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;
if (navigator.getUserMedia){
    navigator.getUserMedia({video:true}, handleVideo, videoError);

    function handleVideo(stream){
        document.querySelector("#video").srcObject = stream;
    }

    function videoError(e){
        alert('Something is wrong');
    }
}
</script>
